body {
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
  }
  
  h1 {
    color: white;
  }
  
  .card-container {
    position: absolute;
    top:20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 5px;
    margin: 5px;
    width: 120px;
    text-align: center;
    color: white;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
  }
  
  .card:hover {
    background-color: #927878;
    transform: scale(1.05);
    color: white;
  }
  
  .red {
    color: black;
    border-color: black;
    background-color: #dadff7;
  }
  
.green{
  display: none;
}
  
  .card.red:hover {
    background-color: #9999A1;
    color: white;
  }
  
  
  button {
    background-color: grey;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #F4F4F6;
    transform: scale(1.05);
    
  }
  
  .textbox-container1 {
    margin-top: 5px;
    position: absolute;
    bottom: 32%;
    display: flex;
  }
  
  .move-to-right {
    margin-left: auto;
  }
  
  .textbox-container {

    position: absolute;
    bottom: 10%;
    margin-top: 3px;
    display: flex;

  }
  
  .textbox-container div {
    margin-right: 10px;
  }
  
  .textbox-container label {
    color: white;
  }
  
  .textbox-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    color: #333;
    background-color: white;
  }

  .textbox.rounded{
    flex:1;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color:  #f6f7eb;
  
    border: 6px;
    
    
  }
  
  .textbox.rounded textarea,
  .textbox.rounded input {
    border-radius: 16px;
    /**height: 100px;**/
    padding: 5px;
    resize: none;
  }
  
  .textbox.smaller {
    width: 80px;
    height: 100px;
    align-items: center;
    margin-top: 10px;
  }
  #mover{
    transition: 3s ease-in-out;
    flex-direction: column;
    left: 30px;
  }


  #leftplane,#rightplane{
    position: relative;
    width:100px;
    height: 100px;
  } 
  
  #showpnr{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }


  #heading{
    display: flex;
    justify-content: center;
    
  }


  .Info {
    /* Add your styles for the div here */
    /* For example: */
    font-size: 16px;
    color: black;
    white-space: pre-wrap;
    /* Other styles... */
  }
  
 
#right{
  position: absolute;
  left:918px;
  
}


  #flightHead{
    color: black;
    font-family:'Times New Roman', Times, serif;
  }

  #left{
    
    width:350px;
    
  }

  #right{
    width: 350px;
  }

  .Head{
    font-size: 25px;
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }


  #content{
    font-size: 15px;
    font-family:'Courier New', Courier, monospace;
    font-weight: 200;
  }

  #subhead{
    color: white;
    position: absolute;
    top:8%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
  }

  #qwerty{
    text-align: center;
    color: black;
    background-color:  #f6f7eb;
    font-size: large;
    font-family: 'Courier New', Courier, monospace
  }