/* styles.css */
body {
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
  }
  
  h1 {
    color: white;
  }
  
  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    margin: 5px;
    width: 150px;
    text-align: center;
    color: white;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
  }
  
  .card:hover {
    background-color: #927878;
    transform: scale(1.05);
    color: white;
  }
  
  .red {
    color: white;
    background-color: purple;
  }
  
.green{
  display: none;
}
  
  .card.red:hover {
    background-color: red;
    color: white;
  }
  
  .card.green:hover {
    background-color: green;
    color: white;
  }
  
  button {
    background-color: #e8b44b;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #d7d67c;
    transform: scale(1.05);
    
  }
  
  .textbox-container1 {
    margin-top: 5px;
    position: absolute;
    bottom: 32%;
    display: flex;
  }
  
  .move-to-right {
    margin-left: auto;
  }
  
  .textbox-container {

    position: absolute;
    bottom: 5%;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
  }
  
  .textbox-container div {
    margin-right: 10px;
  }
  
  .textbox-container label {
    color: white;
  }
  
  .textbox-container input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    color: #333;
    background-color: white;
  }

  .textbox.rounded{
    display: flex;
    flex-direction: column;

    
  }
  
  .textbox.rounded textarea,
  .textbox.rounded input {
    border-radius: 16px;
    height: 100px;
    padding: 5px;
    resize: none;
  }
  
  .textbox.smaller {
    width: 80px;
    height: 100px;
    align-items: center;
    margin-top: 10px;
  }
  #mover{
    transition: 3s ease;
    flex-direction: column;
    left: 20px;
  }


  #leftplane,#rightplane{
    position: absolute;
    top:-185%;
    left: -15px;
    width:190px;
    height: 190px;
  } 
  
  #right{
    position: absolute;
    left:1000px;
    margin-right: -300px;
  }

  #showpnr{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }


  #heading{
    display: flex;
    justify-content: center;
  }